<footer class="footer">
  <div class="wrapper">
    <div class="footer__copyright">
      &copy; {{ site.time | date: '%Y' }} - Todd Motto
    </div>
    <div class="footer__links">
      <ul>
        <li>
          <a href="//twitter.com/toddmotto" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/twitter.svg" alt="Todd Motto on Twitter">
          </a>
        </li>
        <li>
          <a href="//github.com/toddmotto" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/github.svg" alt="Todd Motto on GitHub">
          </a>
        </li>
        <li>
          <a href="//youtube.com/toddmotto" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/youtube.svg" alt="Todd Motto on YouTube">
          </a>
        </li>
        <li>
          <a href="//facebook.com/toddmottoblog" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/fb.svg" alt="Todd Motto on Facebook">
          </a>
        </li>
        <li>
          <a href="/feed.xml" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/rss.svg" alt="RSS feed for Todd Motto">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script src="/js/bundle.min.js?{{site.time | date: '%s%N'}}"></script>
<script>
(function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
(A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-20440416-10', 'toddmotto.com');
ga('send', 'pageview');
</script>
