<header class="header">
  <div class="wrapper">
    <div class="header__img">
      <a href="/">
        <img src="{{ site.baseurl }}/img/fb.jpg" alt="Erick Menezes">
      </a>
    </div>
    <div class="header__bio">
      <p>
        Meu nome Erick Menezes, sou engenheiro de computação e, atualmente, mestrando <a href="//www.ime.eb.br">@IME</a>.
        <br>
        Essa é minha página pessoal e de projetos.
      </p>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</header>
<nav class="nav">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">
        Sobre
      </a>
    </li>
  </ul>
</nav>
