<header class="header">
  <div class="wrapper">
    <div class="header__img">
      <a href="/">
        <img src="{{ site.baseurl }}/img/todd.jpg" alt="Todd Motto">
      </a>
    </div>
    <div class="header__bio">
      <p>
        I'm Todd, I teach the world Angular through <a href="https://ultimateangular.com">@UltimateAngular</a>. 
        Conference speaker and <a href="//developers.google.com/experts/people/todd-motto">Developer Expert</a> at Google.
      </p>
      <a href="https://twitter.com/toddmotto" class="twitter-follow-button" data-show-count="true"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</header>
<nav class="nav">
  <ul>
    <li>
      <a href="/">Posts</a>
    </li>
    <li>
      <a href="/about">
        About
      </a>
    </li>
    <li>
      <a href="/speaking">
        Speaking
      </a>
    </li>
    <li>
      <a href="//ultimateangular.com">
        <img src="{{ site.baseurl }}/img/icons/angular.svg" alt="" style="width: 20px;">
        Training
      </a>
    </li>
  </ul>
</nav>
